[submodule "Zoomers-ESP32-Firmware/KiraFlux-TUI"]
	path = Zoomers-ESP32-Firmware/lib/KiraFlux-TUI
	url = https://github.com/KiraFlux/KiraFlux-TUI.git
[submodule "Zoomers-ESP32-Firmware/lib/ByteLang-Bridge"]
	path = Zoomers-ESP32-Firmware/lib/ByteLang-Bridge
	url = https://github.com/KiraFlux/ByteLang-Bridge.git
[submodule "Zoomers-ESP32-Firmware/lib/Fresh-EspNow"]
	path = Zoomers-ESP32-Firmware/lib/Fresh-EspNow
	url = https://github.com/KiraFlux/Fresh-EspNow
[submodule "Zoomers-ESP32-Firmware/lib/KiraFlux-ToolBox"]
	path = Zoomers-ESP32-Firmware/lib/KiraFlux-ToolBox
	url = https://github.com/KiraFlux/KiraFlux-ToolBox.git
